*{
    padding:0;
    margin:0;
    font-family:monospace;
    box-sizing:border-box;
}

body{
    background-color:#121212;
    color:white;
}

/* Nav Bar */

nav{
    position:fixed;
    width:100%;
    height: 70px;
    background-color: black;
    padding:2.5rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display:flex;
    align-items: center;
    gap:.75rem;
    font-size:2.5rem;
    font-weight:bolder;
}

#logo-img{
    height:45px;
    aspect-ratio: 1/1;
}

#signup-login{
    display: none;
}

/* Menu bar */

#profile{
    display: none;
}

#profile-icon, #timeline-icon, #bookmarks-icon, #logout-icon {
    height: 20px;
    margin-top: 20px;
}

#profile img{
    height:40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-color: white;
}

#menu-holder{
    display: none;
    right:1rem;
    top:6rem;
    position:absolute;
    padding-top:4px;
}

.menu{
    background-color:#202020;
    border-radius:1rem;
    padding:5px 5px;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    width: 300px;
}

.menu:hover,.menu-drop-down{
    display: flex;
}

.drop-down-item{
    position: relative;
    text-align: center;
    padding: .75rem;
    width: 100%;
    text-decoration:none;
    color:white;
    font-size:1.25rem;
    transition: all 1s linear;
}

.drop-down-item::after{
    content:'';
    position:absolute;
    bottom:0;
    left:10%;
    height:2.5px;
    width:0px;
    transition: all 250ms linear;
}

.drop-down-item:hover::after{
    width:80%;
    background-color: white;
}

/* .drop-down-item:hover{
} */

#drop-down-contact-support{
    font-size:10px;
    color:#949090;
}

#signup-login{
    /* display:flex; */
    justify-content: space-between;
    gap:2.5rem;
}

.signup-login{
    background-color:#121212;
    color:white;
    padding:1rem 2rem;
    border-radius:1rem;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    transition:all 250ms linear;
}

.signup-login:hover{
    background-color:white;
    color:black;
    transform: scale(1.05);
}