*{
    padding:0;
    margin:0;
    font-family:monospace;
    box-sizing:border-box;
}

body{
    background-color:#121212;
    color:white;
}

/* Nav Bar */

nav{
    position:fixed;
    width:100%;
    background-color: black;
    padding:1rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display:flex;
    align-items: center;
    gap:.75rem;
    font-size:2.5rem;
    font-weight:bolder;
    padding-right:1rem;
}

#logo-img{
    height:45px;
    aspect-ratio: 1/1;
}

#signup-login{
    display: none;
}

/* Trending section */

#trending{
    display: flex;
    align-items: center;
    gap:1rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* max-width:50%; */
}

#trending::-webkit-scrollbar {
    display: none;
}

.trending-topics{
    padding:.75rem 1rem;
    background-color: #545454;
    border-radius:.5rem;
    min-width:8rem;
    min-height:2.75rem;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

/* Status */

#status{
    display:none;
    align-items: center;
    gap:2rem;
    padding:1rem 2rem;
    font-size:large;
}

#timer{
    padding:1rem;
    background-color:#121212;
    border-radius:.75rem;
}

/* Menu bar */

#profile{
    display: none;
}

#profile img{
    height:50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-color: white;
}

#menu-holder{
    display: none;
    right:1rem;
    top:4rem;
    position:absolute;
    padding-top:4rem;
}

.menu{
    background-color:#202020;
    border-radius:1rem;
    padding:2.25rem 2.5rem;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}

.menu:hover,.menu-drop-down{
    display: flex;
}

.drop-down-item{
    position: relative;
    padding: .75rem;
    width: 100%;
    text-decoration:none;
    color:white;
    font-size:1.25rem;
    transition: all 1s linear;
}

.drop-down-item::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0%;
    height:2.5px;
    width:0px;
    transition: all 250ms linear;
}

.drop-down-item:hover::after{
    width:80%;
    background-color: white;
}

#drop-down-contact-support{
    font-size:10px;
    color:#949090;
}

#signup-login{
    justify-content: space-between;
    gap:.75rem;
    padding-left:.75rem;
}

.signup-login{
    background-color:#121212;
    color:white;
    padding:1rem 2rem;
    border-radius:1rem;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    transition:all 250ms linear;
}

.signup-login:hover{
    background-color:white;
    color:black;
    transform: scale(1.05);
}